@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
    color: white;
}

.custom-icon {
    color: rgb(255, 255, 255);
}


input{
    color: rgb(26, 28, 28);
    font-style: italic;
}